<div class="container-fluid navplace">
	<div class="row textcenter">
		<h1>Welcome to Riot Bikes Berlin</h1>
		<h2>Your source for crazy bikes</h2>
		<p>The date and time is <%= Time.now %></p>
		<%= image_tag("fish.png", class: "img-responsive") %>
	</div>

	<div class="col-md-6"></div>
	
	<div class="col-md-6">
		<h1>About</h1>
			<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
	</div>
</div>
	

		