<div class="container navplace">
  <div class="row">
   	<p class="text-center mar-top">Thank you for your purchase</p>
   	<p class="text-center"><%= link_to('Products Overview', products_path) %></p>
  </div>
</div>