img {
	height: 100vh;
}

.carousel {
	margin: 0 -15px;
	max-width: none;
}

.carousel-caption {
	top: 0;
	padding: 3em;
	text-transform: uppercase;
	font-size: 2em;
}

.caption-background{
	background: rgba(0, 0, 0, 0.5); 
	padding: 5%;
}

// indicatorstyling 


.carousel-indicators {
	padding: 2em;	
}

.carousel-indicators li {
	background-color: #E6E6E6;
	border-color: black;
	border-width: 1px; 	
}

.carousel-indicators .active {
	background-color: #81BEF7;
}