.smallrow{
	max-width: 400px;
	margin: 0px auto;
	padding: 2%;
	background-color:  #f2f2f2;
	border: 2px solid #dedede ;
	border-radius: 5px;
	box-shadow: 5px 5px 50px 20px  #ececec inset;  
}

.field {
	padding: 1%;
}