footer {
	padding: 1vh;
	background-color: #000;
	color: #FFF;

  .btn {
    background-color:black;
    padding: 0;
  }

  .btn.focus, .btn:focus, .btn:hover {
      color: #FACC2E;
      text-decoration: none;
  }

}

	#usermenu {
	  float: right;
	}

