// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.actions {
  padding: 1%;
}

.new-button {
	margin: 2% auto;
	background-color: #81F79F;
}

#products {
	padding-top: 2%;
}
