// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h2 {
	margin-top: -2px;
}

.actions {
  padding: 1% 0%;
}

.new-button {
  background-color: #81F79F;
}

#products {
  padding-top: 2%;
}