// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// *** basic styles for body elements *** //

* {
  box-sizing: border-box;
}

body {
  background-color: #FFF;
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
}

a{
  color: black;
}

.navplace {
  padding: 132px 0 50px 0;
}

.mar-top {
  margin-top: 2%;
}

.row {
  margin-right: 15px;
  margin-left: 15px;
}

img {
  height: auto;
}

textarea {
  /*max-width: 100%;*/
  resize: none; 
}

.greenbtn {
  background-color: #31B404;
  border-radius: 4px;
  color:white;
}

.redbtn{
  background-color: #B40404;
  border-radius: 4px;
}