// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// *** basic styles for body elements *** //

* {
	box-sizing: border-box;

}

body {
	background-color: #404040;
	color: #FFF;
	font-family: Verdana, sans-serif;
	padding-top: 35px;
}

h1 {
	color: red;
}

.textcenter {
	text-align: center;
	padding: 1%;
}

.staticpage {
	padding: 4%;
}