// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// *** basic styles for body elements *** //

* {
	box-sizing: border-box;

}

body {
	background-color: #404040;
	color: #FFF;
	font-family: Verdana, sans-serif;
	padding: 50px 0;
}

h1 {
	color: red;
}

.textcenter {
	text-align: center;
}

// *** navigation styles *** //

nav {
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
}

// *** footer styles *** //

footer {
	padding: 1vh;
	background-color: black;
}