<!DOCTYPE html>
<html>
   <head>
   <%= render 'shared/head' %>
   </head>

   <body>

     	<%= render 'shared/navigation' %>

      <!-- rails content -->
      <%= yield %>
      <!-- /rails content-->

      <%= render 'shared/footer' %>

   </body>
</html>